<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Alisa Action Set"
            visible="true"
            id="edu.cmu.sei.alisa.analysis.actionSet">
         <menu
               label="Alisa &amp;Menu"
               id="alisaMenu">
            <separator
                  name="alisaGroup">
            </separator>
         </menu>
         <action
               label="&amp;Generate CAE"
               icon="icons/alisa.png"
               class="edu.cmu.sei.alisa.analysis.actions.GenerateCAE"
               tooltip="Generate CAE notation"
               menubarPath="alisaMenu/alisaGroup"
               toolbarPath="alisaGroup"
               id="edu.cmu.sei.alisa.analysis.actions.GenerateCAE">
         </action>
         <action
               label="&amp;Import Requirements (Word)"
               icon="icons/wordicon.png"
               class="edu.cmu.sei.alisa.analysis.actions.ImportWordRequirements"
               tooltip="Import Requirements from a Word document"
               menubarPath="alisaMenu/alisaGroup"
               toolbarPath="alisaGroup"
               id="edu.cmu.sei.alisa.analysis.actions.ImportWord">
         </action>
         <action
               label="&amp;Check Requirements Semantics"
               icon="icons/alisa.png"
               class="edu.cmu.sei.alisa.analysis.actions.CheckWording"
               tooltip="Check for Specific Words in the Requirements"
               menubarPath="alisaMenu/alisaGroup"
               toolbarPath="alisaGroup"
               id="edu.cmu.sei.alisa.analysis.actions.CheckWording">
         </action>
      </actionSet>
   </extension>
   <extension
         id="edu.cmu.sei.alisa.analysis.markers.CheckWording"
         name="Wording Error"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
   </extension>

   <extension
         id="edu.cmu.sei.alisa.header1"
         name="Header1"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="edu.cmu.sei.alisa.analysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         id="edu.cmu.sei.alisa.header2"
         name="Header2"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="edu.cmu.sei.alisa.analysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         id="edu.cmu.sei.alisa.header3"
         name="Header3"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="edu.cmu.sei.alisa.analysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         id="edu.cmu.sei.alisa.header4"
         name="Header4"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="edu.cmu.sei.alisa.analysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
    <extension
         id="edu.cmu.sei.alisa.header5"
         name="Header5"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="edu.cmu.sei.alisa.analysis.preferences.PreferenceInitializer">
      </initializer>
   </extension>  
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.cmu.sei.alisa.analysis.preferences.PreferencesPage"
            id="edu.cmu.sei.alisa.analysis.PreferencePage"
            name="Alisa Analysis">
      </page>
   </extension>
</plugin>
